<% sorted_by_votes(posts_list).each do |post| %>
<div class="row">
  <div class="span1 well text-center">
    <% if logged_in? %>
    <%= link_to vote_post_path(post,vote: true), method: 'post', remote: true do %>
    <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <span id='post_<%= post.id %>_votes'>
    <%= pluralize(post.total_votes,'vote') %>
    </span>
    <br/>
    <%= link_to vote_post_path(post,vote: false), method: 'post', remote: true do %>
    <i class='icon-arrow-down'></i>
    <% end %>
    <% else %>
      <%= pluralize(post.total_votes,'vote') %>
    <% end %>
  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, display_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Post by </span>
      <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= format_time(post.created_at) %></small>
    </p>
    <small>
      <span><%= link_to "#{pluralize(post.comments.size,'comment')}", post_path(post) %>
      </span>
    </small>
  </div>
</div>
<% end %>
