<% if logged_in? && current_user.id == @post.user_id %>
<div class="pull-right">
  <%= link_to '[Edit Post]', edit_post_path(@post) %>
</div>
<% end %>
<p>
  <%= render @post.categories %>
</p>
<%= render "/shared/title", title: link_to(@post.title, display_url(@post.url)) %>
<p>
  <%= @post.description %>
  <hr/>
</p>

<% if logged_in? %>
<%= render partial: 'shared/validation_errors', object: @comment %>
<%= form_for [@post,@comment] do |f| %>
  <%= f.label :body, 'Leave a comment' %>
  <%= f.text_area :body %>
  <br/>
  <%= f.submit 'Create comment', class: 'btn btn-primary' %>
<% end %>
<% end %>

<h5>Comments:</h5>
<%= render '/comments/comments_list', object: @post %>
